# Database Connection String
# Example for PostgreSQL: postgresql://username:password@localhost:5432/database_name
# Example for MySQL: mysql+pymysql://username:password@localhost:3306/database_name
# Default: sqlite:///microservicio.db
DATABASE_URL=sqlite:///microservicio.db
